html, body
{
	padding: 0;
	margin: 0;
	background-color: #D6E1F0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

main
{
	background-color: white;
	width: min(25rem, 90vw);
	text-align: center;
	border-radius: min(5%, 5vw);
	overflow: hidden;
	border: white solid 1px;
	box-sizing: border-box;
	padding: 5%;
	margin: 25% 0;
}

.info
{
	width:	88%;
	padding: 0.2rem;
	margin: auto;
}
.qr-code
{
	width:	100%;
	box-sizing: border-box;
	border: solid white 1px;
	border-radius: min(5%, 5vw);
}
.instructions
{
	color:		gray;
	font-size:	0.8rem;
}
h2
{
	font-size: 1.2rem;
}
address
{
	padding:	.5rem;
	text-align:	left;
	line-height:	80%;
	font-size:	80%;
}

